(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (20, 25, 45, 51, 71, 86, 112, 142),
                temp: (47, 50, 53, 57, 61, 66, 70, 98),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (30, 35, 53, 68, 79, 99, 117, 147),
                temp: (47, 50, 53, 57, 61, 66, 70, 98),
                enabled: false,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (57, 58, 79, 112, 137, 174, 222, 254),
                temp: (20, 47, 55, 62, 66, 70, 80, 99),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (52, 67, 90, 120, 158, 192, 233, 254),
                temp: (19, 49, 59, 65, 70, 75, 83, 99),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (10, 20, 20, 35, 35, 51, 71, 86),
                temp: (53, 56, 56, 59, 59, 63, 67, 98),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (20, 30, 30, 45, 45, 68, 79, 99),
                temp: (53, 56, 56, 59, 59, 63, 67, 98),
                enabled: false,
            ),
        ],
        custom: [],
    ),
)